Bogdan Drozdowski <bogdandr@op.pl>
Bogdan Drozdowski <bogdandr # op . pl>
Dustin J. Mitchell <dustin@cs.uchicago.edu>
Dustin J. Mitchell <dustin@zmanda.com>
Fabien Coelho <fabien@coelho.net>
Fabien Coelho <autoconf.archive@coelho.net>
Fabien Coelho <fabien.coelho@ensmp.fr>
Francesco Salvestrini <salvestrini@gmail.com>
Francesco Salvestrini <salvestrini@users.sourceforge.net>
Peter Johansson <peterandrejohansson@gmail.com>
Peter Johansson <trojkan@gmail.com>
