# .travis.yml

language: c
git:
  depth: 50000

addons:
  apt:
    packages:
      - gnulib
      - python3
      - texlive
      - texinfo
      - tidy

script:
  - ./bootstrap.sh
  - ./configure
  - make PYTHON=python3 -j$(nproc) maintainer-all all
  - make distcheck
  - make web-manual
  - ./fix-website.sh
